<%- include('../../layout/header', {title: "Agregar Proyecto" }) %>

<section id="contact" class="full-height px-lg-5">

    <div class="container">

        <div class="row justify-content-center text-center">
            <div class="col-lg-8 pb-4" data-aos="fade-up">
                <h6 class="text-brand"><%= (project) ? 'MODIFICAR' : 'AGREGAR' %></h6>
                <h1><%= (project) ? 'Editar Proyecto' : 'Nuevo Proyecto' %></h1>
            </div>

            <div class="col-lg-8" data-aos="fade-up" data-aos-delay="300">

                <form action=" <%= (project) ? `/admin/projects/${project._id}/editar` : '/admin/projects/nuevo' %>" method="post" enctype="application/x-www-form-urlencoded" class="row g-lg-3 gy-3">

                    <div class="form-group col-md-6">
                        <label class="visually-hidden" for="name">Nombre del Proyecto</label>
                        <input 
                            type="text" 
                            name="name" 
                            id="name" 
                            class="form-control" 
                            placeholder="Nombre del Proyecto"
                            value="<%= (project) ? project.name : '' %>"
                        >
                    </div>

                    <div class="form-group col-md-6">
                        <label class="visually-hidden" for="link">Link del Repositorio</label>
                        <input 
                            type="text" 
                            name="link" 
                            id="link" 
                            class="form-control" 
                            placeholder="Link del Repositorio"
                            value="<%= (project) ? project.link : '' %>"
                        >
                    </div>

                    <div class="form-group col-md-9">
                        <label class="visually-hidden" for="img">Link de la imagen</label>
                        <input 
                            type="text" 
                            name="img"
                            id="img"
                            class="form-control" 
                            placeholder="Link de la imagen"
                            value="<%= (project) ? project.img : '' %>"
                        >
                    </div>

                    <div class="form-group form-switch col-md-3">

                        <input 
                            type="checkbox" 
                            name="public"
                            id="public"
                            class="form-check-input" 
                            <%- (project) ? (project.public) ? 'checked' : '' : 'checked' %>
                        >
                        <label for="public" class="form-check-label">Public</label>

                    </div>

                    <div class="form-group col-12">
                        <label class="visually-hidden" for="description">Descripcion del Proyecto</label>
                        <textarea 
                            name="description" 
                            id="description"
                            rows="4" 
                            class="form-control"
                            placeholder="Descripcion del Proyecto"><%= (project) ? project.description : '' %></textarea>
                    </div>

                    <div class="form-group col-12 d-grid">
                        <button type="submit" class="btn btn-brand"><%= (project) ? 'Modificar' : "Agregar" %></button>
                    </div>

                </form>

            </div>

        </div>

    </div>


</section>

<%- include('../../layout/footer') %>